* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 70vw;
    height: 40vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-top {
    width: 60vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.left {
    flex: 1;
    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.h2 {
    color: #1876ee;
    font-size: 30px;
    font-family: serif;
    display: flex;
    margin-right: 190px;
    margin-bottom: 10px;
}
#txt {
    font-size: 20px;
    color: #402e21;
    font-family: serif;
}
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.top {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
input {
    padding: 15px;
    border: none;
    width: 350px;
}
input:focus {
    outline: none;
}
.email {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.password {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn {
    width: 350px;
    padding: 10px;
    background-color: #1977f4;
    cursor: pointer;
    color: #ceecfb;
    font-size: 20px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #82b7ec;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bootam {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}
.btn2 {
    width: 250px;
    padding: 15px;
    background-color: #43b838;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin-bottom: 40px;
}
.footer {
    width: 60vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 2px;
}
.h3 {
    font-size: 20px;
}